body{
    background-color: #202020;
    display:flex;
}
.base{
    flex: 1;
    /*border: 4px dashed hotpink;*/
    background-color: #202020;
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    /*border: 2px solid yellow;*/

    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
}
.previous{
    flex: 1;
    color: rgb(152, 151, 151);
    font-size: 15px;
    font-family: Arial;
    text-align: right;
    align-content: flex-end;
    padding-right: 10px;
    padding-bottom: 5px;
    
}
.present{
    flex:2;
    color: white;
    font-size: 50px;
    font-family: Arial;
    text-align: right;
    padding-right: 10px;    
    
}
.bottom{
    flex: 2;
    /*border: 2px solid red;*/

    background-color: #ffffff00;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}
.memory{
    /*border: 2px solid rgb(153, 255, 0);*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 10px;
    padding-right: 10px;
}
.btn{
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 100%;
    color: white;
    font-size: larger;

    background-color: #323232;
}
.btn:hover{
    background-color: #3b3b3b;
}
.nbtn{
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 100%;
    color: white;
    font-size: larger;

    background-color: #3b3b3b;
}
.nbtn:hover{
    background-color: #323232;
}
.mbtn{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
}